<style>
    #searchView{
            margin-top: 20px;
            position: absolute;
            max-width: 600px;
            z-index: 5;
            background-color: transparent;
            width: 500px;
            font-style: italic;
}
</style>

<body>
    <div class="page-wrapper">
        <header class="header">
            <div class="header-top">
                <div class="container">
                    <div class="header-right">
                        <ul class="top-menu">
                            <li>
                                <a href="#">Links</a>
                                <ul>
                                    <li><a href="/wishlist"><i class="icon-heart-o"></i>Wishlist <span></span></a></li>
                                    <li><a href="/"><i class="about"></i>About Us</a></li>
                                    <li><a href="/">Contact Us</a></li>
                                    <%if(!userdata){%>
                                    <li><a href="/login"><i class="icon-user"></i>LogIn/Register</a></li>
                                    <%} else {%>  
                                        <li><a href="/userprofile"><i class="icon-user"></i>Userprofile</a></li>
                                    <%}%>
                                       
                                    
                     
                                </ul>
                            </li>
                        </ul><!-- End .top-menu -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-top -->

            <div class="header-middle sticky-header">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>

                        <a href="/" class="logo">
                            <div style="display:flex;justify-content:flex-start;">
                                 <img  src="/assets/images/logox.jpg" alt="Molla Logo" style="height: 70px;">
                                </div>
                        </a>

                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <li class="megamenu-container active">
                                    <a href="/shop" class="sf-with-ul">SHOP</a> 
                                </li>  
                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <div class="header-search">
                            <a href="#" class="search-toggle" role="button" title="Search"><i class="icon-search"></i></a>
                            <form action="#" method="get">
                                <div class="header-search-wrapper">
                                    <label for="q" class="sr-only">Search</label>
                                    <input type="search" class="form-control" name="q" id="q" onkeyup="sendData(this)" placeholder="Search in..." required>
                                </div><!-- End .header-search-wrapper -->
                            </form>
                            <div style="margin-right: 90px;display: flex;" class="text-center">
                                <div class="row" id="searchView"></div>
                </div>
                        </div><!-- End .header-search -->
                        
                       

                        <div class="dropdown cart-dropdown">
                            <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                                <i style="color: goldenrod;" class="icon-shopping-cart"></i> 
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">

                                <div class="dropdown-cart-action">
                                    <a href="/cart" class="btn btn-primary">View Cart</a>
                                    <a href="/checkout" method="get" class="btn btn-outline-primary-2"><span>Checkout</span><i class="icon-long-arrow-right"></i></a>
                                </div>
                            </div><!-- End .dropdown-menu -->
                        </div><!-- End .cart-dropdown -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->
        </header><!-- End .header -->

        <script>
function sendData(e){
    const searchData = document.getElementById('searchView')
    console.log(e,"eeeeeeeeeeee")
    let match = e.value.match(/^[a-zA-z0-9 ]*/);
    let match2 = e.value.match(/[ ]*/);
    if(match2[0] === e.value){ 
        searchData.innerHTML = '';
        return;
    }
    if(match[0] === e.value){
        fetch('/searchHome',{
            method:'POST',
            headers: {'content-Type': 'application/JSON'},
            body: JSON.stringify({payload: e.value})
        }).then(res => res.json()).then(data =>{
            console.log("im hereeeeeee");
            let payload = data.payload
            console.log("payloadddddd",payload)
            searchData.innerHTML = '';
            if(payload.length < 1){
                searchData.innerHTML = '<p>Sorry..Nothing found</p>';
                return;
            }
    
            payload.forEach((item,index)=>{
                if(index > 0) searchData.innerHTML += '<hr>';
                searchData.style.display ='inline'
                searchData.innerHTML += `<a href="/product/${item._id}"><img src="/uploads/${item.images[0]}" alt="" style="width:50px; height:50px;display:inline;"><p>${item.productName}</p></a>`
            })
         
        })
        return;
    
    }
    searchData.innerHTML = '';
}
           

        </script>
