<style>
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  #form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  form {
    width: 300px;
  }
  
  .form-group {
    margin: 15px 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0069d9;
  }
  
  /* Added CSS */
  main {
    border: 1px solid goldenrod;
    width: 450px;
  }
</style>

<div id="form-container">
  <main>
    <form method="post" action="/new-Password">
      <div class="form-group">
        <label for="register-password">Password *</label>
        <input style="width: 400px;" type="password" class="form-control" id="register-password" name="password" required>
      </div><!-- End .form-group -->

      <div class="form-group">
        <label for="register-password">Confirm Password *</label>
        <input style="width: 400px;"  type="password" class="form-control" id="register-password" name="password1" required>
      </div><!-- End .form-group -->

      <div  class="form-footer" id="signupbutton">
        <button type="submit" class="btn btn-outline-primary-2">
          <span>CONFIRM</span>
          <i class="icon-long-arrow-right"></i>
        </button>
      </div><!-- End .form-footer -->
    </form>
  </main>
</div>
