<style>
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  #form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  form {
    width: 300px;
  }
  
  .form-group {
    margin: 15px 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0069d9;
  }
  
  /* Added CSS */
  main {
    border: 1px solid goldenrod;
    width: 450px;
  }
</style>

<div id="form-container">
  <main>
    <form id="password-Form">
      <div class="form-group">
        <label for="register-password">Password *</label>
        <input style="width: 400px;" type="password" class="form-control" id="password" name="password" required>
      </div><!-- End .form-group -->

      <div class="form-group">
        <label for="register-password">Confirm Password *</label>
        <input style="width: 400px;"  type="password" class="form-control" id="password1" name="password1" required>
      </div><!-- End .form-group -->
      <span id="error-Message" class="text-danger"></span>

      <div  class="form-footer" id="signupbutton">
        <button type="submit" class="btn btn-outline-primary-2">
          <span>CONFIRM</span>
          <i class="icon-long-arrow-right"></i>
        </button>
      </div><!-- End .form-footer -->
    </form>
  </main>
</div>

<script>
   
   function handleSubmit(event) {
    event.preventDefault(); // Prevents the default form submission behavior


    const password = document.getElementById("password").value;
    const confirmPassword = document.getElementById("password1").value;

    if (password !== confirmPassword) {
      document.getElementById("error-Message").textContent = "Passwords do not match.";
    } else {
      document.getElementById("error-Message").textContent = "";
      fetch("/new-Password", {
        method: "POST", // or "GET" depending on your server-side endpoint
        body: JSON.stringify({ password: password }), // You can send any data you want to the server
        headers: {
          "Content-Type": "application/json",
        },
      })
        .then((response) => response.json())
        .then((data) => {
          // Process the response data if needed
          console.log(data);

          // After successful AJAX call, you can submit the form
          if(data.status){
            
            document.getElementById("password-Form").submit();
            location.href='/login'
          }
        })
        .catch((error) => {
          console.error("Error:", error);
        });

    }
  }
  const form = document.getElementById("password-Form");
  form.addEventListener("submit", handleSubmit);
 
</script>
